<html>
<head th:utext="${head}"></head>
<div class="row">
	<div class="col-md-4">
	<img class="img-responsive" src="/logos/4C_A.png" alt="SDA LOGO">
	</div>
	<div class="col-md-8">
	<h1 class"text-primary">Ilford Central Seventhday Adventis Church</h1>
	</div>
</div>

<body>


<div class="row">

<div class="col-md-6">

<div th:each="file : ${files}" 
      th:object="${file}"
      th:if="${#strings.endsWith(file.name, '.jpg')}">
  <img th:src="'/data/'+${file.name}"></img>
       
</div>

<div th:each="file : ${files}" 
      th:object="${file}"
      th:if="${#strings.endsWith(file.name, '.png')}">
  <img th:src="'/data/'+${file.name}"></img>
       
</div>

<div th:each="file : ${files}" 
      th:object="${file}"
      th:if="${#strings.endsWith(file.name, '.gif')}">
  <img th:src="'/data/'+${file.name}"></img>
       
</div>

<div th:each="file : ${files}" 
      th:object="${file}"
      th:if="${#strings.endsWith(file.name, '.mp4')}">
  <video  controls>
    <source th:src="'/data/'+${file.name}" type="video/mp4">
  </video>
       
</div>

</div>

<div class="col-md-6">
<p>Lorem ipsum dolor sit amet, id esse decore salutatus est, wisi doming copiosae sea ad, affert scaevola praesent no duo. Omnis diceret appareat mea no, legere pertinacia mel at. Ludus affert forensibus est ad. Percipit reprimique suscipiantur mel id. Partiendo definitiones vim no, doming adipiscing et usu, eum id adolescens consectetuer.</p>
</br>
<p>Eos omnes melius ex. Erant dictas dicunt et pri, vis et efficiendi contentiones. Et ius alia brute dicant, et mel dicta inermis, usu nonumes moderatius ex. Nonumy animal commodo his no, quo no soluta temporibus ullamcorper, ceteros minimum duo ad.</p>
</br>
<p>Pro ex everti dissentias, pri in utinam placerat mandamus, per quem adolescens no. Eum adhuc augue reprimique ex, aliquando dissentias scripserit mea no. Tota legimus perpetua usu ut, melius utroque ei eam, est dico reque labitur te. Percipit invenire disputando et mel. Vim quidam dignissim no.</p>
</br>
<p>Ne vix cetero forensibus. No eam natum eripuit saperet, cu esse ancillae detraxit duo. Sea te eirmod aperiam numquam. Ius tale tibique insolens et, mea ea postea accumsan iudicabit. Decore utamur oportere in has, meliore tincidunt mea ex. Sea eu omnium lucilius, vide doctus ex mei.</p>

</div>

</div>




</body>

</html>